/* CSS comment */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  color: #000;
  font-size: 36px;
  text-decoration: none;
}

h2 {
  font-family: Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}

.main-container {
  padding: 50px 0px 100px 0px;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#suspicious-minds {
  width: 400px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.album-artwork-container {
  padding: 50px 0px 50px 0px;
}

#suspicious-minds-page .album-artwork-container {
  background-color: #dd5e4f;
}

.nav {
  height: 20px;
  background-color:#000;
  text-align:center;
  margin: 0;
  padding: 30px;
}

.nav li {
  display:inline;
  line-height: 20px;
}

.nav a {
  display:inline-block;
  color: #fff;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 20px;
}

.nav a:hover:after{
  display:block;
  height:1px;
  background:white;
  content:'';
}

.footer {
  background:black;
  padding: 15px 50px 15px 50px;
}

.footer p {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #a9a9a9;
  text-decoration: none;
}

#profile-image {
  max-width: 300px;
}

.song-title-section {
  background-color: #dd5e4f;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.song-title-section h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  color: #fff;
  padding: 100px 0px 100px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}




